<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TiristorModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TiristorModule.Properties.Settings>
            <setting name="CurrentKz1" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CurrentKz2" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PersentTestPower" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NumberOfTest" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NominalTok1sk" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="VremiaKzMs1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VremiaKzMs2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time2" serializeAs="String">
                <value />
            </setting>
            <setting name="Time3" serializeAs="String">
                <value />
            </setting>
            <setting name="Time4" serializeAs="String">
                <value />
            </setting>
            <setting name="Time5" serializeAs="String">
                <value />
            </setting>
            <setting name="Time6" serializeAs="String">
                <value />
            </setting>
            <setting name="Time7" serializeAs="String">
                <value />
            </setting>
            <setting name="Time8" serializeAs="String">
                <value />
            </setting>
        </TiristorModule.Properties.Settings>
    </userSettings>
</configuration>