<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TiristorModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TiristorModule.Properties.Settings>
            <setting name="CurrentKz1" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CurrentKz2" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PersentTestPower" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NumberOfTest" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NominalTok1sk" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="VremiaKzMs1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VremiaKzMs2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AddressMaster" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="AddressSlave" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="Time" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>5</string>
                        <string>7</string>
                        <string>9</string>
                        <string>11</string>
                        <string>13</string>
                        <string>15</string>
                        <string>17</string>
                        <string>19</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Capacity" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>40</string>
                        <string>30</string>
                        <string>40</string>
                        <string>50</string>
                        <string>60</string>
                        <string>70</string>
                        <string>80</string>
                        <string>90</string>
                        <string>100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PortNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>COM1</string>
                        <string>COM2</string>
                        <string>COM3</string>
                        <string>COM4</string>
                        <string>COM5</string>
                        <string>COM6</string>
                        <string>COM7</string>
                        <string>COM8</string>
                        <string>COM9</string>
                        <string>COM10</string>
                        <string>COM11</string>
                        <string>COM12</string>
                        <string>COM13</string>
                        <string>COM14</string>
                        <string>COM15</string>
                        <string>COM16</string>
                        <string>COM17</string>
                        <string>COM18</string>
                        <string>COM19</string>
                        <string>COM20</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StopBits" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>1</string>
                        <string>1.5</string>
                        <string>2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DataBits" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>7</string>
                        <string>8</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BaudRates" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>300</string>
                        <string>600</string>
                        <string>1200</string>
                        <string>2400</string>
                        <string>4800</string>
                        <string>9600</string>
                        <string>14400</string>
                        <string>19200</string>
                        <string>38400</string>
                        <string>56000</string>
                        <string>57600</string>
                        <string>115200</string>
                        <string>128000</string>
                        <string>230400</string>
                        <string>256000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="StopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>Нет проверки</value>
            </setting>
            <setting name="DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parities" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Нет проверки</string>
                        <string>Четный</string>
                        <string>Нечетный</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TiristorModule.Properties.Settings>
    </userSettings>
</configuration>